body {
    background-color: #202832;
    text-rendering: optimizeLegibility;
    font-family: 'Pacifico', cursive;

    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar { display: none; }


#container {
    max-width: 100%;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
    background-color: #202832;
}

#container > #headline-box {
    width: 100%;
    height: 200px;
    background-color: #202832;
    color: #fff;
    text-align: center;
    font-size: 0px;
    line-height: 195px;
}

#container > #line-container {
    width: 10px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

#container > #line-container:last-child {
    margin-bottom: 100px;
}

/*
    LINJER
*/

#line-container > .line-one {
    width: 100%;
    height: 0px;
    background-color: #19B5FE;
}
#line-container > .line-two {
    width: 100%;
    height: 0px;
    background-color: #36D7B7;
}
#line-container > .line-three {
    width: 100%;
    height: 0px;
    background-color: #D35400;
}
#line-container > .line-four {
    width: 100%;
    height: 0px;
    background-color: #ECF0F1;
}
#line-container > .line-five {
    width: 100%;
    height: 0px;
    background-color: #F89406;
}
#line-container > .line-six {
    width: 100%;
    height: 0px;
    background-color: #36D7B7;
}

/*
    ARROWS
*/


.arrow-right-green {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #36D7B7;
    display: none;
}

.arrow-left-blue {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #19B5FE;
    display: none;
}

.arrow-left-red {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #D35400;
    display: none;
}

.arrow-right-white {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #ECF0F1;
    display: none;
}

.arrow-left-orange {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #F89406;
    display: none;
}

.arrow-right-ligthgreen {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #36D7B7;
    display: none;
}

