
@font-face {
    font-family: Droid Font;
    src: url('fonts/DroidSerif.ttf');
}
@font-face {
    font-family: Pacifico;
    src: url('fonts/Pacifico.ttf');
}

body {
    background-color: #202832;
    text-rendering: optimizeLegibility;
    font-family: 'Droid Serif', serif;
    font-family: 'Pacifico';
    font-family: 'Droid Font';
}

::-webkit-scrollbar { display: none; }

#container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: center;
    background-color: #202832;
    position: relative;
}

#container > #headline-box {
    width: 100%;
    height: 200px;
    background-color: #202832;
    color: #fff;
    text-align: center;
    font-size: 0px;
    line-height: 195px;
    font-family: "Pacifico";
}

#container > #line-container {
    width: 10px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

#container > #line-container:last-child {
    margin-bottom: 100px;
}

/*
    LINJER
*/

#line-container > .line-one {
    width: 100%;
    height: 0px;
    background-color: #19B5FE;
}
#line-container > .line-two {
    width: 100%;
    height: 0px;
    background-color: #36D7B7;
}
#line-container > .line-three {
    width: 100%;
    height: 0px;
    background-color: #D35400;
}
#line-container > .line-four {
    width: 100%;
    height: 0px;
    background-color: #b86efe;
}
#line-container > .line-five {
    width: 100%;
    height: 0px;
    background-color: #F89406;
}
#line-container > .line-six {
    width: 100%;
    height: 0px;
    background-color: #E08283;
}

/*
    ARROWS
*/


.arrow-right-green {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #36D7B7;
    display: none;
}

.arrow-left-blue {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #19B5FE;
    display: none;
}

.arrow-left-red {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #D35400;
    display: none;
}

.arrow-right-purple {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #b86efe;
    display: none;
}

.arrow-left-orange {
	width: 0;
	height: 0;
    float: left;
    top: 70.5px;
    right: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #F89406;
    display: none;
}

.arrow-right-pink {
	width: 0;
	height: 0;
    float: right;
    top: 120.5px;
    left: 7px;
    position: relative;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #E08283;
    display: none;
}

/*
    CIRCLES
*/

.circle-blue {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 245px;
    float: left;
    background-color: #19B5FE;
    margin-left: 290px;
    border-radius: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}

.circle-blue:hover
{
     -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 240px;
}

.circle-green {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 435px;
    background-color: #36D7B7;
    margin-left: 650px;
    border-radius: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}


.circle-green:hover
{
     -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 700px;
}

.circle-red {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 640px;
    background-color: #D35400;
    margin-left: 290px;
    border-radius: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}

.circle-red:hover
{
     -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 240px;
}

.circle-purple {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 840px;
    background-color: #b86efe;
    margin-left: 650px;
    border-radius: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}

.circle-purple:hover
{
     -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 700px;
}

.circle-orange {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #F89406;
    border-radius: 200px;
    top: 1040px;
    margin-left: 290px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}

.circle-orange:hover
{
     -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 240px;
}

.circle-pink {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #E08283;
    margin-left: 650px;
    top: 1240px;
    border-radius: 200px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
}

.circle-pink:hover
{
  -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    margin-left: 700px;
}

/*
    CIRCLE TEXT
*/

.blue-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: none;
    position: absolute;
    top: 32%;
    right: 30%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: "Pacifico", cursive;
}

.circle-blue:hover > .blue-circle-text{
    top: 0;
    right: 40%;
    font-size: 8px;
}

.obj-text {
    font-size: 7px;
    width: 130px;
    height: 130px;
    top: 49%;
    left: 6%;
    position: absolute;
    display: none;
    color: #0088c8;
}

.circle-blue:hover > .obj-text {
    display: block;
}

.obj-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-blue:hover > .obj-img {
    display: block;
}


.green-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: none;
    position: absolute;
    top: 32%;
    right: 31%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.circle-green:hover > .green-circle-text{
    top: 0;
    right: 41%;
    font-size: 8px;
}

.history-text {
    font-size: 7px;
    width: 130px;
    height: 130px;
    top: 48%;
    left: 6%;
    position: absolute;
    display: none;
    color: #0b9a7e;
}

.circle-green:hover > .history-text {
    display: block;
}

.history-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-green:hover > .history-img {
    display: block;
}

.red-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    display: none;
    font-size: 18px;
    position: absolute;
    top: 32%;
    right: 37%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.circle-red:hover > .red-circle-text{
    top: 0;
    right: 43%;
    font-size: 8px;
}

.rules-text {
    font-size: 7px;
    width: 130px;
    height: 130px;
    top: 48%;
    left: 6%;
    position: absolute;
    display: none;
    color: #803708;
}

.circle-red:hover > .rules-text {
    display: block;
}

.rules-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-red:hover > .rules-img {
    display: block;
}

.purple-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    display: none;
    font-size: 18px;
    position: absolute;
    top: 32%;
    right: 30%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.circle-purple:hover > .purple-circle-text{
    top: 0;
    right: 39%;
    font-size: 8px;
}

.countries-text {
    font-size: 7px;
    width: 130px;
    height: 130px;
    top: 48%;
    left: 6%;
    position: absolute;
    display: none;
    color: #7b28c8;
}

.circle-purple:hover > .countries-text {
    display: block;
}

.countries-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-purple:hover > .countries-img {
    display: block;
}


.orange-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    display: none;
    font-size: 18px;
    position: absolute;
    top: 32%;
    right: 17%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.circle-orange:hover > .orange-circle-text{
    top: 0;
    right: 33%;
    font-size: 8px;
}

.champ-text {
    font-size: 5px;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 6%;
    position: absolute;
    display: none;
    color: #b26a03;
    font-weight: bold;
}

.circle-orange:hover > .champ-text {
    display: block;
}

.champ-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-orange:hover > .champ-img {
    display: block;
}

.pink-circle-text
{
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    display: none;
    font-size: 18px;
    position: absolute;
    top: 32%;
    right: 38%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	-ms-transition:     all 0.3s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.circle-pink:hover > .pink-circle-text{
    top: 0;
    right: 45%;
    font-size: 8px;
}

.prize-text {
    font-size: 7px;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 6%;
    position: absolute;
    display: none;
    color: #a66465;
}

.circle-pink:hover > .prize-text {
    display: block;
}

.prize-img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 26%;
    right: 38%;
    display: none;
}

.circle-pink:hover > .prize-img {
    display: block;
}

.blue-circle-text, .green-circle-text,
.purple-circle-text, .orange-circle-text,
.pink-circle-text, .red-circle-text {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
